XML/xml/produto.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT produto (id, nome, preco, cameras)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT nome (#PCDATA)>
<!ELEMENT preco (unidade, a_vista, a_prazo)>
<!ELEMENT unidade (#PCDATA)>
<!ELEMENT a_vista (#PCDATA)>
<!ELEMENT a_prazo (#PCDATA)>
<!ELEMENT cameras (camera+)>
<!ELEMENT camera (tipo, resolucao, unidade)>
<!ELEMENT tipo (#PCDATA)>
<!ELEMENT resolucao (#PCDATA)>
